@model ReservationViewModel

<div class="border-bottom border-secondary">
<h3 class="display-6">Order #@Model.Id 
    <small class="text-secondary h5">@Model.MovieProgram.Date.ToShortDateString()</small>
</h3>
</div>
<br />
<div class="main-info">
<div class="customer-info">
    <h5>Customer Information:</h5>
    <p>Name: @Model.Name</p>
    <p>Last Name: @Model.LastName</p>
</div>
<div class="products">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">@Model.MovieProgram.CinemaHall.Movie.Title 
          <br /> <small>@Model.MovieProgram.Date.ToString("dddd, dd MMMM yyyy") 
          <br /> @Model.MovieProgram.StartTime - @Model.MovieProgram.EndTime 
          <br /> @Model.MovieProgram.CinemaHall.Size.Description</small>
      </td>
      <td>@Model.TicketQuantity</td>
      <td>@Model.TicketPrice.ToString("C", CultureInfo.CreateSpecificCulture("mk-MK"))</td>
    </tr>
                @foreach (var item in Model.SnackOrder.Snacks)
                {
                    <tr>
                      <td scope="row">@item.Name</td>
                      <td>@item.SnackQuantity</td>
                      <td>@Model.SnackPrice.ToString("C", CultureInfo.CreateSpecificCulture("mk-MK"))</td>
                    </tr>
                }        
  </tbody>
</table>
           
</div> 

</div>
<div class="total-price float-end mt-4">
     <h3 class="text-muted">Total: @Model.FullPrice.ToString("C", CultureInfo.CreateSpecificCulture("mk-MK"))</h3>
</div>

<a asp-action="Index" asp-controller="Cinema" class="btn btn-outline-danger mt-5">Make Another Reservation</a>